.modal__dialog {
  max-width: 450px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .modal__dialog {
    max-width: 300px;
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

@media (max-width: 767px) {
  .modal__container {
    padding: 0 15px;
  }
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 25px 0;
  pointer-events: auto;
  background-color: var(--white);
  box-shadow: 0px 0px 35px var(--black-15);
}

.modal__header {
  margin-bottom: 15px;
}

.modal__container_header {
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .modal__container_header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.modal__container_header_delete {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.modal__title {
  margin: 0;
  margin-right: 9px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.modal__title_delete {
  text-align: center;
}

.client-id {
  color: var(--dark-gray);
  font-size: 12px;
  line-height: 18px;
}

.modal__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 29px;
  height: 29px;
  background-color: transparent;
  background-image: url('../img/modal-close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

@media (max-width: 767px) {
  .modal__btn-close {
    top: 3px;
    right: 3px;
  }
}

.fullname-section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 15px;
  padding-top: 22px;
}

.focused .fullname-section__label,
.filled .fullname-section__label {
  font-size: 10px;
  line-height: 14px;
  transform: translateY(-22px);
}

.form-group:last-child {
  margin-bottom: 26px;
}

.fullname-section__label {
  z-index: 10;
  position: absolute;
  bottom: 4px;
  left: 0;
  color: var(--dark-gray);
  transition: transform var(--transition-duration) var(--transition-timing-function),
    font-size var(--transition-duration) var(--transition-timing-function);
}

.asterisk {
  color: var(--light-slate-blue);
}

.fullname-section__input {
  position: relative;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--ghost-50);
  text-transform: capitalize;
}

.fullname-section__input:read-only {
  background: var(--dark-gray-20);
}

.form-group_invalid .fullname-section__input {
  border-bottom: 1px solid var(--red-50);
}

.form-group_invalid .fullname-section__label,
.form-group_invalid .asterisk {
  color: var(--red);
}

.modal__container_contacts {
  background-color: var(--ghost-30);
}

.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}

.contacts-section.filled {
  padding: 25px 0;
}

.contacts-section__list {
  width: 100%;
}

.contacts-section__item {
  height: 37px;
}

.contacts-section__item:not(:last-child) {
  margin-bottom: 15px;
}

.contact-edit {
  display: flex;
  justify-content: stretch;
  height: 100%;
}

.contact-edit_invalid {
  outline: 2px solid var(--red);
}

.dropdown {
  position: relative;
  flex: 0 0 auto;
  font-size: 12px;
  line-height: 16px;
}

.contact-edit__dropdown {
  flex-basis: 123px;
}

@media (max-width: 767px) {
  .contact-edit__dropdown {
    flex-basis: 110px;
  }
}

.dropdown__btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 10px;
  border: 1px solid var(--ghost);
  color: inherit;
  background-color: var(--white-lilac);
}

.dropdown__icon-container {
  width: 12px;
  height: 12px;
  margin-left: auto;
  font-size: 0;
  line-height: 0;
}

.dropdown__btn:disabled>.dropdown__icon-container {
  display: none;
}

.dropdown__icon {
  width: inherit;
  height: inherit;
}

.dropdown__btn[aria-expanded="true"] .dropdown__icon {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  min-width: initial;
  margin: 0;
  padding: 0;
  border: 1px solid var(--ghost);
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--magnolia);
  background-clip: padding-box;
  transform: none !important;
  inset: calc(100% - 1px) 0 auto 0 !important;
}

.dropdown__item {
  padding: 5px 12px;
  color: inherit;
  cursor: pointer;
}

.dropdown__item_first {
  padding-top: 10px;
}

.dropdown__item_last {
  padding-bottom: 10px;
}

.dropdown__item_active {
  display: none;
}

.dropdown__item:hover {
  background-color: var(--white-lilac-50);
}

.dropdown__item:focus,
.dropdown__item:hover {
  color: inherit;
}

.contact-edit__input {
  flex: 1 1 auto;
  width: 240px;
  padding: 8px 12px;
  border: 1px solid var(--ghost);
  border-left: none;
}

@media (max-width: 767px) {
  .contact-edit__input {
    flex: 1 1 auto;
    width: 133px;
    padding: 8px 6px;
  }
}

.contact-edit__input:read-only {
  background: var(--dark-gray-20);
}

.contact-edit__input::placeholder {
  color: var(--dark-gray);
  font-weight: 400;
}

.contact-edit__delete-btn {
  display: flex;
  flex: 0 0 27px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--ghost);
  border-left: none;
  background-color: var(--white-lilac);
}

.contact-edit__delete-btn:disabled {
  display: none;
}

.contact-edit__delete-btn-icon-container {
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
}

.contact-edit__delete-btn-icon {
  width: inherit;
  height: inherit;
  fill: var(--dark-gray);
}

.contact-edit__delete-btn:hover:enabled>.contact-edit__delete-btn-icon {
  fill: var(--red);
}

.delete-text {
  max-width: 270px;
  margin: 0;
  text-align: center;
}

.add-contact-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
  font-weight: 600;
  line-height: 1;
  transition: color var(--transition-duration) var(--transition-timing-function);
  fill: var(--light-slate-blue);
}

.add-contact-btn:disabled {
  color: var(--ghost);
  fill: var(--ghost);
}

.add-contact-btn:disabled path {
  fill: var(--dark-gray);
}

.contacts-section.filled .add-contact-btn {
  margin-top: 25px;
}

.add-contact-btn:hover:enabled {
  color: var(--light-slate-blue);
}

.hovered {
  opacity: 0;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.non-hovered {
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.add-contact-btn:hover:enabled .hovered {
  opacity: 1;
}

.add-contact-btn:hover:enabled .non-hovered {
  opacity: 0;
}

.add-contact-btn__icon-container {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  font-size: 0;
  line-height: 0;
}

.add-contact-btn__icon {
  width: inherit;
  height: inherit;
}

.modal__error {
  margin-bottom: 9px;
}

.modal__error.hidden+.modal__footer {
  margin-top: 25px;
}

.modal__body+.modal__error {
  margin-top: 9px;
}

.error {
  color: var(--red);
  font-size: 10px;
  line-height: 14px;
}

.error__item {
  max-width: 270px;
  text-align: center;
}

.modal__confirm-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 147px;
  margin-bottom: 5px;
  padding: 12.5px 35px;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  background-color: var(--light-slate-blue);
}

.modal__confirm-btn-icon-container {
  max-width: 11px;
  max-height: 11px;
  margin-right: 7px;
  font-size: 0;
  line-height: 0;
}

.modal__confirm-btn-icon-container:empty {
  margin-right: 0;
}

.modal-loader {
  stroke-width: 12;
  stroke: var(--perfume);
}

.modal__confirm-btn:enabled:hover .modal-loader {
  stroke: var(--light-slate-blue);
}

.modal__save-btn {
  min-width: 147px;
}

.modal__delete-btn {
  min-width: 130px;
}

.modal__cancel-btn {
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal__confirm-btn:disabled {
  background-color: var(--ghost);
}

.modal__confirm-btn:enabled:hover {
  background-color: var(--perfume);
}

.modal__confirm-btn:enabled:active {
  background-color: var(--medium-slate-blue);
}